Solver/Solver.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Solver/Solver.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Solver/Solver.xcodeproj/project.xcworkspace/xcuserdata/Ievgenii_Mykhalevskyi.xcuserdatad/UserInterfaceState.xcuserstate
Solver/Solver.xcodeproj/xcuserdata/Ievgenii_Mykhalevskyi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Solver/Solver.xcodeproj/xcuserdata/Ievgenii_Mykhalevskyi.xcuserdatad/xcschemes/xcschememanagement.plist
