# This file is copy from https://github.com/google/angle with some modifications
# Defines the axmol style for automatic reformatting.
# https://code.google.com/p/angleproject/wiki/CodingStandard
# See Clang docs: http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google

# Allow double brackets such as std::vector<std::vector<int>>.
Standard: Cpp11

# Indent 4 spaces at a time.
IndentWidth: 4
MaxEmptyLinesToKeep: 2
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
SpacesBeforeTrailingComments: 1

# Keep lines under 120 columns long.
ColumnLimit: 120

SortIncludes: true

# Always break before braces
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

    # Keeps extern "C" blocks unindent.
    AfterExternBlock: false
    BeforeLambdaBody: false

# Lambda body indentation
LambdaBodyIndentation: OuterScope

# Indent case labels.
IndentCaseLabels: false

# Left-align pointers and references
PointerAlignment: Left

# ANGLE likes to align things as much as possible.
AlignOperands: true
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCompound: true

AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCompound: true

# AlignConsecutiveDeclarations:
#   Enabled: true
#   AcrossEmptyLines: true
#   AcrossComments: true
#   AlignCompound: true

AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCompound: false

# AlignConsecutiveShortCaseStatements:
#   Enabled: true
#   AcrossEmptyLines: true
#   AcrossComments: true
#   AlignCaseColons: true

# Use 0 space negative offset for access modifiers
AccessModifierOffset: -4

# TODO: Decide if we want this on. Doesn't have an "all or none" mode.
AllowShortCaseLabelsOnASingleLine: false

# Useful for spacing out functions in classes
KeepEmptyLinesAtTheStartOfBlocks: true

# Indent nested PP directives.
IndentPPDirectives: BeforeHash

# Include blocks style
IncludeBlocks: Preserve
UseTab: Never

AllowShortFunctionsOnASingleLine: None
ConstructorInitializerIndentWidth: 4
BreakBeforeInheritanceComma: false
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right

PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyReturnTypeOnItsOwnLine: 100
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakOpenParenthesis: 0

AllowShortBlocksOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
